<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ceu.marten.bplux"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
   	<uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ceu.marten.ui.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ceu.marten.ui.RecordingConfigsActivity"
            android:label="@string/settingsTitle"
            android:parentActivityName="ceu.marten.ui.HomeActivity" >
        </activity>
        <activity
            android:name="ceu.marten.ui.NewConfigActivity"
            android:label="@string/graphtitle"
            
            android:parentActivityName="ceu.marten.ui.HomeActivity" >
        </activity>
        <activity
            android:name="ceu.marten.ui.StoredRecordingsActivity"
            android:label="@string/title_activity_sessions" >
        </activity>
        <activity
            android:name="ceu.marten.ui.NewRecordingActivity"
            android:label="@string/title_activity_new_session" >
        </activity>
        <activity
            android:name="ceu.marten.ui.RecordingViewActivity"
            android:label="@string/title_activity_recordings_view" >
        </activity>
		<service android:name="ceu.marten.services.BiopluxService"/>    
    </application>

</manifest>